#!/usr/bin/make -f
# Made with the aid of dh_make by Ryszard Lach
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
export DH_COMPAT=1

srcdir = $(shell pwd)

patch: unpack stampdir/patch-stamp
stampdir/patch-stamp:
	# Apply the patches one by one, output success/error (and log progress of each patch)
	@(if [ -d "$(srcdir)/debian/patches" ]; then \
	    cd build-tree/mod_ldap_cfg/ && \
	    echo "Adding patch: "; \
	    for file in $(srcdir)/debian/patches/[0-9]*[a-zA-Z0-9]; do \
	      log="$(srcdir)/stampdir/patch-`basename $$file`.log"; \
	      stamp="$(srcdir)/stampdir/patch-`basename $$file`.stamp"; \
	      echo -n "  `basename $$file`: "; \
	      if [ ! -e $$stamp ]; then \
	        if cat $$file | patch -p2 --no-backup-if-mismatch > $$log; then \
	          echo successfull.; \
	          touch $$stamp; \
	        else \
	          echo "Error - see stampdir/patch-`basename $$log` for details"; \
	          exit 1; \
	        fi; \
	      else \
	        echo Already applied $$file.; \
	      fi; \
	      find -type f -name '*.orig' | xargs --no-run-if-empty rm -f; \
	    done; \
	  else \
	    echo "No patches to apply (debian/patches don't exists)"; \
	  fi)

	touch stampdir/patch-stamp

unpack: stampdir/unpack-stamp
stampdir/unpack-stamp:
	dh_testdir

	mkdir stampdir

	# Extract distribution tarballs
	@(mkdir -p build-tree && cd build-tree && \
	  tar xzf ../mod_ldap_cfg.tar.gz)
	touch stampdir/unpack-stamp

build: build-stamp
build-stamp: patch
	dh_testdir

	@(cd build-tree/mod_ldap_cfg/ && \
	  $(MAKE) APXS=/usr/bin/apxs && \
	  mv mod_ldap_cfg.so ../mod_ldap_cfg.so-apache1 && \
	  $(MAKE) clean && \
	  $(MAKE) APXS=/usr/bin/apxs2 && \
	  mv .libs/mod_ldap_cfg.so ../mod_ldap_cfg.so-apache2 )

	touch stampdir/build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -Rf stampdir build-tree*
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	install -s -m 644 build-tree/mod_ldap_cfg.so-apache1 \
		debian/tmp/usr/lib/apache/1.3/mod_ldap_cfg.so

	install -s -m 644 build-tree/mod_ldap_cfg.so-apache2 \
		debian/libapache2-mod-ldapcfg/usr/lib/apache2/modules/mod_ldap_cfg.so

	install    -m 644 build-tree/mod_ldap_cfg/example/httpd.conf \
		debian/libapache2-mod-ldapcfg/etc/apache2/mods-available/mod_ldap_cfg.conf
	install    -m 644 debian/libapache2-mod-ldapcfg.load \
		debian/libapache2-mod-ldapcfg/etc/apache2/mods-available/mod_ldap_cfg.load
	@( cd debian/libapache2-mod-ldapcfg/etc/apache2/mods-available/; \
	   cat mod_ldap_cfg.conf | grep -v ^LoadModule > x; \
	   mv x mod_ldap_cfg.conf )

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot

	dh_installdocs
	dh_installexamples

	dh_strip
	dh_compress
	dh_fixperms
	# You may want to make some executables suid here.
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch unpack patch
.PHONY: build clean binary-indep binary-arch binary install patch
